@model StudyBlog.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_Layout";
}

<h2>Изменение пароля</h2>

<div class="row">
    <div class="col-md-5">
        <form asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label asp-for="NewPassword">Новый пароль</label>
                <input class="form-control" asp-for="NewPassword" type="password">
                <span asp-validation-for="NewPassword"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Email">
            <input type="submit" value="Сохранить" class="btn btn-outline-dark">
        </form>
    </div>
</div>